body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  margin-bottom: 20px;
}
.container_add, .container_view {
  margin-bottom: 30px;
}

.col-md-4{
  color: white;
}

.text-muted {
  color: white;
}
